body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
nav {
    margin-top: 20px;
    background: #333;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    color: #ff9900;
}

.post {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}